.wrapper {
  max-width: 768px;
  margin: 0 auto;
  color: #8f4600;
  text-shadow: 0 0 1px #000;
  height: 100%;
}

.div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 24px 68px;
}
