.background {
  background: url("/orange_flowers.svg") no-repeat center;
  background-size: cover;
  padding: 60px 0;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 0px 20px;
}

/* Card container */
.card {
  background: #ffdfbf;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Sections */
.section {
  text-align: center;
}

/* Titles */
.title {
  font-family: 'MiamaLocal', cursive;
  font-size: 2.2rem;
  color: #CC5500;
  margin-bottom: 10px;
}

/* Text */
.text {
  font-family: 'Lora', serif;
  color: #8f4600;
  margin-bottom: 5px;
}

/* Image */
.image {
  width: 100%;
  margin-top: 15px;
  border-radius: 12px;
  object-fit: cover;
}