.main {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.main::before {
  content: "";
  position: absolute;
  inset: 0;

  background: url("/orange_background_mobile.svg") no-repeat right center;
  background-size: 100%;
  pointer-events: none;
  z-index: -1;
}

@media (min-width: 768px) {
  .main::before {
    background:url("/orange_background_desktop.svg") no-repeat right center;
    background-size: 100%;
  }
}

.outerWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

body {
  background: linear-gradient(to bottom, #fff7ed, #ffffff);
}

.h1 {
  font-family: 'MiamaLocal', cursive;
  font-size: 2rem;
  letter-spacing: 0.1em;
  color: #8f4600;
}

.p {
  color: #6b7280;
  margin-top: 5px;
}

.form {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-weight: 500;
  margin-top: 10px;
  color: #8f4600;
}

.submitButton {
  height: 50px;
  border-radius: 25px;
  border: 1px solid #d97706;

  background-color: white;
  color: #8f4600;

  font-size: 16px;
  font-family: 'Lora', serif;

  cursor: pointer;
  transition: all 0.25s ease;
}

/* hover */
.submitButton:hover {
  background-color: #d97706;
  color: white;
}

/* loading / disabled */
.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.counter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.counterControls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.counterControls button {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  border: 1px solid #d97706;
  background: white;
  color: #8f4600;

  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.counterControls button:hover {
  background-color: #d97706;
  color: white;
}

.counterControls span {
  font-size: 18px;
  font-weight: 500;
  min-width: 20px;
  text-align: center;
}

.input {
  height: 45px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #e5e7eb;
  font-family: 'Lora', serif;
  transition: 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: #d97706;
  box-shadow: 0 0 0 2px rgba(217, 119, 6, 0.2);
}

/* custom css radiobutton */
.customRadio input[type="radio"] {
  display: none;
}

.radioButton {
  width: 120px;
  height: 45px;
  border-radius: 25px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
  color: #8f4600;
}

.customRadio input[type="radio"]:checked + .radioButton {
  background-color: #d97706;
  color: white;
  border-color: #d97706;
}

.customRadio:hover .radioButton {
  border-color: #d97706;
}

.createdAt {
  display: flex;
  gap: 0.5rem;
  color: green;
}

.error {
  color: red;
  width: 80%;
}
