/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MiamaLocal";
  src: url("./fonts/MonteCarlo/MonteCarlo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SnellRoundhand';
  src: url('./fonts/Snell_Roundhand/snellroundhand_bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Corsiva';
  src: url('./fonts/Monotype_Corsiva/Monotype-Corsiva-Regular-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Base typography */
body {
  font-family: 'Corsiva', cursive;
  font-style: italic;
  font-size: 1.4rem;
}

/* Headings */
h1, h2, h3 {
  font-family: 'SnellRoundhand', cursive;
  font-weight: normal;
  color: #8f4600;
}

h1, h2 {
  letter-spacing: 1px;
}

h1 {
  font-size: 3.2rem;
}